.feua-style input[type="text"],
.feua-style input[type="email"],
.feua-style input[type="url"],
.feua-style input[type="password"],
.feua-style input[type="number"],
.feua-style input[type="search"],
.feua-style textarea {
    width: 100%;
}

html body .feua-style fieldset.user-submit {
    display: block !important;
}
.user-submit > a#user_lost_password_link {
    display: block;
    margin-top: 10px;
    text-align: center;
}
html body .feua-style fieldset[class*="category"] label,
html body .feua-style fieldset[class*="featured_image"] label,
html body .feua-style fieldset[class*="taxonomy-"] label,
html body .feua-style fieldset[class*="dropdown_field"] label,
html body .feua-style fieldset[class*="multiple_select"] label,
html body .feua-style fieldset[class*="radio_field"] label,
html body .feua-style fieldset[class*="checkbox_field"] label,
html body .feua-style fieldset[class*="image_upload"] label,
html body .feua-style fieldset[class*="file_upload"] label,
html body .feua-style fieldset[class*="country-"] label,
html body .feua-style fieldset[class*="profile_picture"] label {
/*    top: 0;
    position: static;
    display: inline-block;
    margin-bottom: 20px;*/
}
html body .feua-style fieldset[class*="featured_image"] a,
html body .feua-style fieldset[class*="image_upload"] a,
html body .feua-style fieldset[class*="file_upload"] a,
html body .feua-style fieldset[class*="profile_picture"] a {
    top: 0;
    position: static;
    display: inline-block;
    margin-top: 20px;
}
body .feua-style .user-submit input {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px;
}
body .feua-style * {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.user-form-add .user-form {
    margin: 0;
    padding: 0;
}
html body .user-form fieldset {
    margin: 15px auto;
}
.uk-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
}
.user_accept_toc label {
    position: static !important;
}
html body .feua-style input,
html body .feua-style input:focus,
html body .feua-style input:hover {
    outline: none;
    box-shadow: none;
}
body .feua-style div.wpfeua-response-output {
    padding: 15px;
    text-transform: none;
}

body .feua-style div.wpfeua-validation-errors {
    background: none;
    color: red;
    border: 2px solid red;
}

body .feua-style div.wpfeua-response-output:before {
    display: none;
}

body .feua-style div.wpfeua-response-output.wpfeua-mail-sent-ok {
    background: none;
    color: green;
    border: 2px solid green;
}
/**
 * Valentine's Day
 *
 * 1.1 - Classic
 * ----------------------------------------------------------------------------- 
 */

body .valentines-day-classic input[type="text"],
body .valentines-day-classic input[type="number"],
body .valentines-day-classic input[type="date"],
body .valentines-day-classic textarea,
body .valentines-day-classic select,
body .valentines-day-classic input.wpfeua-form-control.wpfeua-quiz {
    margin: 5px 0 0;
    padding: 15px 10px;
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    outline: 0;
    resize: none;
    font-size: 13px;
    line-height: 17px;
    background: rgba(255, 255, 255, 0.7);
    color: #818181;
    font-family: 'Raleway';
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .valentines-day-classic textarea,
body .valentines-day-classic input.wpfeua-form-control.wpfeua-submit:not([disabled]) {
    border: none;
}

body .wpfeua form.valentines-day-classic p {
    margin-bottom: 7px;
    font-size: 16px;
    color: #222;
}

body .valentines-day-classic input.wpfeua-form-control.wpfeua-submit {
    position: absolute;
    right: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

body .valentines-day-classic {
    background: url('../images/vday-classic/hearted-bg.png') -45px 0 repeat;
    position: relative;
    max-width: 600px;
    margin: 0 auto 50px auto;
    padding-bottom: 50px;
}

body .valentines-day-classic .heart {
    position: absolute;
    right: 0;
    background: url('../images/vday-classic/big-heart.png') 0 0 no-repeat;
    width: 136px;
    height: 135px;
    top: -90px;
}

body .valentines-day-classic p {
    margin-bottom: 10px;
    text-shadow: 1px 1px #FFF;
}

body .valentines-day-classic input,
body .valentines-day-classic textarea {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 5px 6px 10px -5px #999999;
    -moz-box-shadow: 5px 6px 10px -5px #999999;
    box-shadow: 5px 6px 10px -5px #999999;
    margin-top: 3px;
}

body .valentines-day-classic input:focus,
body .valentines-day-classic textarea:focus {
    background: rgba(255, 255, 255, 0.7);
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

body .valentines-day-classic input.wpfeua-form-control.wpfeua-submit:not([disabled]),
body .valentines-day-classic .wpfeua-submit {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    height: 20px;
    line-height: normal;
    text-align: center;
    padding: 20px;
    min-width: 90px;
    background: rgb(125, 185, 232);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDU0ZTRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjZDQwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjOTQwYTBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(213, 78, 78, 1) 0%, rgba(212, 0, 0, 1) 39%, rgba(148, 10, 10, 1) 85%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(125, 185, 232, 1)), color-stop(0%, rgba(213, 78, 78, 1)), color-stop(39%, rgba(212, 0, 0, 1)), color-stop(85%, rgba(148, 10, 10, 1)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(213, 78, 78, 1) 0%, rgba(212, 0, 0, 1) 39%, rgba(148, 10, 10, 1) 85%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(213, 78, 78, 1) 0%, rgba(212, 0, 0, 1) 39%, rgba(148, 10, 10, 1) 85%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(213, 78, 78, 1) 0%, rgba(212, 0, 0, 1) 39%, rgba(148, 10, 10, 1) 85%);
    /* IE10+ */
    
    background: linear-gradient(to right, rgba(125, 185, 232, 1) 0%, rgba(213, 78, 78, 1) 0%, rgba(212, 0, 0, 1) 39%, rgba(148, 10, 10, 1) 85%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#940a0a', GradientType=1);
    /* IE6-8 */
    
    color: #FFF;
    float: right;
    text-shadow: 1px 1px #555;
}

body .valentines-day-classic input.wpfeua-form-control.wpfeua-submit:not([disabled]):focus,
body .valentines-day-classic input.wpfeua-form-control.wpfeua-submit:not([disabled]):hover,
body .valentines-day-classic .wpfeua-submit:hover {
    opacity: 0.8;
}

body .valentines-day-classic div.wpfeua-response-output.wpfeua-validation-errors,
body .valentines-day-classic div.wpfeua-response-output.wpfeua-mail-sent-ok {
    background: none repeat scroll 0 0 rgba( 255, 255, 255, 0.6);
    border: 1px solid #FF0000;
    top: 30px;
}

body .valentines-day-classic div.wpfeua-response-output.wpfeua-validation-errors {
    color: #ff0000;
}

body .valentines-day-classic div.wpfeua-response-output.wpfeua-mail-sent-ok {
    color: green;
    border: solid 1px green;
}
/**
 * Valentine's Day
 *
 * 1.2 - Roses
 * ----------------------------------------------------------------------------- 
 */

body .valentines-day-roses input[type="text"],
body .valentines-day-roses input[type="number"],
body .valentines-day-roses input[type="date"],
body .valentines-day-roses textarea,
body .valentines-day-roses select,
body .valentines-day-roses input.wpfeua-form-control.wpfeua-quiz {
    margin: 5px 0 0;
    padding: 15px 10px;
    border-bottom: 1px solid #490706;
    outline: 0;
    resize: none;
    font-size: 13px;
    line-height: 17px;
    background: none;
    color: #818181;
    font-family: 'Raleway';
    font-weight: normal;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body .valentines-day-roses textarea,
body .valentines-day-roses input.wpfeua-form-control.wpfeua-submit:not([disabled]) {
    border: none;
}

body .wpfeua form.valentines-day-roses p {
    margin-bottom: 7px;
    font-size: 16px;
    color: #222;
}

body .valentines-day-roses input.wpfeua-form-control.wpfeua-submit {
    position: absolute;
    right: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

body .valentines-day-roses input.wpfeua-form-control.wpfeua-submit:not([disabled]):focus,
body .valentines-day-roses input.wpfeua-form-control.wpfeua-submit:not([disabled]):hover {
    background: none;
    border: none;
    color: #7F2A3A;
}

body .valentines-day-roses {
    background: url(../images/vday-rose/rose-bg-50percent.png) 0 0 no-repeat;
    position: relative;
    min-height: 380px;
    width: 270px;
    padding: 12px 0 0 200px;
    -wekit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

body .valentines-day-roses {
    clear: both;
}

body .valentines-day-roses input[type="text"],
body .valentines-day-roses input[type="email"],
body .valentines-day-roses input[type="url"],
body .valentines-day-roses input[type="password"],
body .valentines-day-roses input[type="search"],
body .valentines-day-roses textarea {
    width: 92%;
}

body .valentines-day-roses input {
    padding-bottom: 2px;
}

body .valentines-day-roses input,
body .valentines-day-roses input:hover,
body .valentines-day-roses input:focus {
    border-bottom: 1px solid #490706;
}

body .valentines-day-roses textarea {
    width: 215px;
    height: 140px;
    resize: none;
    padding-top: 0;
    line-height: 32px;
}

body .valentines-day-roses p {
    margin-bottom: 10px;
}

body .valentines-day-roses .letter-box {
    background: #826e50 url(../images/vday-rose/contact-bg.png) 0 0 no-repeat;
    width: 285px;
    margin: 32px 0 0 -50px;
    padding: 35px 15px 45px;
}

body .valentines-day-roses .wpfeua-submit {
    position: absolute;
    bottom: 5px;
    right: 20px;
    border: none;
    padding: 7px 15px;
    color: #fff;
    box-shadow: none;
}

body .valentines-day-roses input[type="submit"]:hover,
body .valentines-day-roses input[type="submit"]:focus {
    background: #490706;
}

body .valentines-day-roses div.wpfeua-validation-errors,
body .valentines-day-roses div.wpfeua-mail-sent-ok {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: none;
    left: 115px;
    position: absolute;
    top: 145px;
    width: 295px;
}

body .valentines-day-roses div.wpfeua-validation-errors {
    color: #ff0000;
}

body .valentines-day-roses div.wpfeua-mail-sent-ok {
    color: green;
}

body .valentines-day-roses div.wpfeua-response-output.wpfeua-validation-errors,
body .valentines-day-roses div.wpfeua-response-output.wpfeua-mail-sent-ok {
    background: none repeat scroll 0 0 rgba( 255, 255, 255, 0.6);
    border: none;
}
/**
 * Valentine's Day
 *
 * 1.3 - Birds
 * ----------------------------------------------------------------------------- 
 */

body .valentines-day-birds input[type="text"],
body .valentines-day-birds input[type="number"],
body .valentines-day-birds input[type="date"],
body .valentines-day-birds textarea,
body .valentines-day-birds select,
body .valentines-day-birds input.wpfeua-form-control.wpfeua-quiz {
    margin: 0 0 5px 0;
    padding: 8px 10px;
    border: 2px dashed #000;
    outline: 0;
    resize: none;
    font-size: 13px;
    line-height: 16px;
    background: none;
    color: #222;
    font-family: inherit;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .valentines-day-birds input[type="text"],
body .valentines-day-birds input[type="email"],
body .valentines-day-birds input[type="url"],
body .valentines-day-birds input[type="password"],
body .valentines-day-birds input[type="search"],
body .valentines-day-birds textarea,
body .valentines-day-birds input[type="text"],
body .valentines-day-birds input[type="number"],
body .valentines-day-birds input[type="date"],
body .valentines-day-birds textarea,
body .valentines-day-birds select{
    width: 100%;
}

body .valentines-day-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]),
body .valentines-day-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]):hover {
    border: none;
    background: none;
}

body .valentines-day-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]) {
    color: #444;
}

body .valentines-day-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]):hover {
    color: #843A69;
}

body .valentines-day-birds div.wpfeua-response-output {
    position: relative;
    padding: 17px 42px;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
}

body .valentines-day-birds div.wpfeua-response-output.wpfeua-validation-errors {
    background: none;
}

body .valentines-day-birds div.wpfeua-response-output.wpfeua-validation-errors:before {
    display: none;
}

body .valentines-day-birds {
    position: relative;
    width: 280px;
    margin: 234px 0 330px 97px;
}

body .valentines-day-birds-container {
    background: url('../images/vday-birds/bg-middle.png') 63px 0 repeat-y;
    width: 486px;
    margin: 0 auto;
}

body .valentines-day-birds .bg-header,
body .valentines-day-birds .bg-bottom {
    width: 486px;
}

body .valentines-day-birds .bg-header {
    background: url('../images/vday-birds/bg-top.png') 25px 0 no-repeat;
    height: 234px;
    left: -97px;
    position: absolute;
    top: -234px;
}

body .valentines-day-birds .bg-bottom {
    background: url('../images/vday-birds/bg-bottom.png') 0 0 no-repeat;
    bottom: -301px;
    height: 301px;
    left: -97px;
    position: absolute;
}

body .wpfeua form.valentines-day-birds p {
    margin: 0;
    color: #222;
}

body .valentines-day-birds input,
body .valentines-day-birds textarea {
    background: none;
    border: 2px dashed #000;
    resize: vertical;
}

body .valentines-day-birds textarea {
    height: 120px;
}

body .valentines-day-birds input:hover,
body .valentines-day-birds textarea:hover,
body .valentines-day-birds input:focus,
body .valentines-day-birds textarea:focus {
    border: 2px dashed #000;
}

body .valentines-day-birds input {
    margin-bottom: 5px;
}

body .valentines-day-birds input[type="submit"] {
    font-size: 30px;
    color: #444;
    text-transform: capitalize;
    border: none;
    box-shadow: none;
    background: transparent;
    display: block;
    margin: 0 auto;
}

body .valentines-day-birds input[type="submit"]:hover,
body .valentines-day-birds input[type="submit"]:focus {
    background: none;
    color: #000;
}

body .valentines-day-birds div.wpfeua-response-output {
    width: 265px;
    margin: 0 0 0 -36px;
    border: none;
}

body .valentines-day-birds .wpfeua-validation-errors {
    color: #ff0000;
}

body .valentines-day-birds .wpfeua-mail-sent-ok {
    color: green;
}
/**
 * Valentine's Day
 *
 * 1.4 - Blue Birds
 * ----------------------------------------------------------------------------- 
 */

body .valentines-day-blue-birds input[type="text"],
body .valentines-day-blue-birds input[type="number"],
body .valentines-day-blue-birds input[type="date"],
body .valentines-day-blue-birds textarea,
body .valentines-day-blue-birds select,
body .valentines-day-blue-birds input.wpfeua-form-control.wpfeua-quiz {
    margin: 5px 0 0;
    padding: 15px;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 13px;
    line-height: 17px;
    background: #dad3c2;
    color: #818181;
    font-family: 'Raleway';
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .valentines-day-blue-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]) {
    border: none;
}

body .wpfeua form.valentines-day-blue-birds p {
    margin-bottom: 7px;
    font-size: 16px;
}

body .valentines-day-blue-birds input.wpfeua-form-control.wpfeua-submit {
    position: absolute;
    right: 40px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

body .valentines-day-blue-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]):focus,
body .valentines-day-blue-birds input.wpfeua-form-control.wpfeua-submit:not([disabled]):hover {
    background: url("../images/vday-blue-birds/submit.png") no-repeat top right;
    border: none;
    color: #7F2A3A;
}

body .valentines-day-blue-birds {
    position: relative;
    background: url("../images/vday-blue-birds/pattern.jpg") repeat;
    color: #100804;
}

body .valentines-day-blue-birds .header {
    background: url("../images/vday-blue-birds/header.png") no-repeat top center;
    height: 260px;
    width: 100%;
}

body .valentines-day-blue-birds input,
body .valentines-day-blue-birds textarea {
    width: 290px;
    display: inline-block;
    background: #dad3c2;
    border: none;
}

body .valentines-day-blue-birds input:focus,
body .valentines-day-blue-birds textarea:focus {
    background: #dad3c2;
}

body .valentines-day-blue-birds .wpfeua-submit {
    background: url("../images/vday-blue-birds/submit.png") no-repeat top right;
    line-height: 50px;
    font-size: 30px;
    display: inline;
    text-transform: none;
    width: auto;
    position: absolute;
    top: 50px;
    right: 20px;
    color: #100804;
    box-shadow: none;
}

body .valentines-day-blue-birds span.wpfeua-not-valid-tip,
body .valentines-day-blue-birds .wpfeua-submit:hover {
    color: #7f2a3a;
}

body .valentines-day-blue-birds textarea {
    height: 75px;
}

body .valentines-day-blue-birds p {
    width: 290px;
    margin: 7px auto;
    position: relative;
}

body .valentines-day-blue-birds .footer {
    background: url("../images/vday-blue-birds/footer.png") no-repeat bottom center;
    height: 145px;
    width: 100%;
}

body .valentines-day-blue-birds div.wpfeua-mail-sent-ok,
body .valentines-day-blue-birds div.wpfeua-validation-errors {
    border: none;
    background: rgba( 127, 42, 58, .9);
    position: absolute;
    bottom: 0;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    right: 0;
}

body .valentines-day-blue-birds div.wpfeua-mail-sent-ok {
    background: rgba( 9, 94, 0, .9);
}
/**
 * Xmas
 *
 * 2.1 - Classic
 * ----------------------------------------------------------------------------- 
 */

body .christmas-classic input[type="text"],
body .christmas-classic input[type="number"],
body .christmas-classic input[type="email"],
body .christmas-classic input[type="date"],
body .christmas-classic textarea,
body .christmas-classic select,
body .christmas-classic input.wpfeua-form-control.wpfeua-quiz {
    margin: 5px 0 0;
    padding: 3px 10px;
    border: 1px dotted #b2a28e;
    outline: 0;
    resize: none;
    font-size: 14px;
    line-height: 20px;
    background: #f3eadf;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: 'Raleway';
    font-weight: normal;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

body .christmas-classic textarea{
    padding: 5px 10px;
    height: 140px;
}

body .christmas-classic input[type="text"]:not([disabled]) {
    border: none;
}

body .christmas-classic {
    position: relative;
}

body .christmas-classic-container {
    background: url("../images/xmas-classic/bg-repeat.png") repeat-y scroll 1px 1px rgba(0, 0, 0, 0);
    display: block;
    margin: auto;
    margin-bottom: 260px;
    text-align: center;
    width: 403px;
}

body .christmas-classic .header {
    background: url("../images/xmas-classic/top_border.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    width: 100%;
}

body .christmas-classic .left {
    background: url("../images/xmas-classic/left_part_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 129px;
    left: -73px;
    position: absolute;
    width: 99px;
}

body .christmas-classic fieldset {
    color: #482C09;
    margin-bottom: 0;
    margin-left: 0;
    width: 350px;
}

body .christmas-classic .footer {
    background: url("../images/xmas-classic/bottombg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 255px;
    width: 474px;
    position: absolute;
    bottom: -255px;
    margin: 0 0 0 -70px;
    padding: 0;

}

body .christmas-classic input,
body .christmas-classic textarea {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #f3eadf;
    border: 1px dotted #b2a28e;
}

body .christmas-classic input {
    height: 28px;
    padding: 3px 5px;
    line-height: 28px;
}

body .christmas-classic input:focus,
body .christmas-classic textarea:focus {
    background: #f3eadf;
    border: 1px dotted #b2a28e;
}

body .christmas-classic  input,
body .christmas-classic  textarea {
    display: block;
    width: 100%;
}

body .christmas-classic form textarea {
    resize: vertical;
    margin-bottom: 10px;
}

html body .christmas-classic input[type="submit"]:not([disabled]) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: -252px;
    height: 70px;
    left: 2px;
    position: absolute;
    text-indent: -9999px;
    width: 78px;
    z-index: 10;
    box-shadow: none;
}
body .christmas-classic .user-form {
    width: 350px;
}
body .christmas-classic div.wpfeua-response-output {
    width: 84%;
    margin: 0 auto;
}
/**
 * Xmas
 *
 * 2.2 - Red
 * ----------------------------------------------------------------------------- 
 */

body .christmas-red input[type="text"],
body .christmas-red input[type="number"],
body .christmas-red input[type="date"],
body .christmas-red input[type="email"],
body .christmas-red textarea,
body .christmas-red select,
body .christmas-red input {
    margin: 5px 0 0;
    padding: 15px 10px;
    border: none;
    outline: 0;
    resize: none;
    font-size: 17px;
    line-height: normal;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    color: #818181;
    font-family: 'Raleway';
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .christmas-red textarea,
body .christmas-red input[type="submit"]:not([disabled]) {
    border: none;
}

body .wpfeua form.christmas-red fieldset{
    margin-bottom: 7px;
    font-size: 16px;
    color: #fff;
}

body .christmas-red-container {
    color: #fff;
    font-size: 17px;
    width: 600px;
    margin: 0 auto;
    background: url(../images/xmas-red/middle.png ) repeat-y top center;
    position: relative;
}

body .christmas-red {
    margin: 94px 0 125px;
}

body .christmas-red .header {
    display: block;
    background: url(../images/xmas-red/header.png ) no-repeat 32px top;
    width: 600px;
    height: 94px;
    position: absolute;
    top: -94px;
}

body .christmas-red .footer {
    display: block;
    background: url(../images/xmas-red/footer.png ) no-repeat top center;
    width: 600px;
    height: 94px;
    bottom: -94px;
    position: absolute;
}

body .christmas-red fieldset {
    width: 370px;
    margin: 0 auto !important;
}

body .christmas-red input,
body .christmas-red textarea {
    color: #222;
    width: 100%;
    font-size: 16px;
}

body .christmas-red input[type="text"],
body .christmas-red input[type="email"],
body .christmas-red input[type="url"],
body .christmas-red input[type="password"],
body .christmas-red input[type="search"],
body .christmas-red textarea {
    width: 100%;
}

body .christmas-red input:focus,
body .christmas-red textarea:focus {
    background: #fff;
}

body .christmas-red textarea {
    height: 120px;
    resize: vertical;
}

html body .christmas-red input[type="submit"]:not([disabled]) {
    display: block;
    width: 232px;
    height: 126px;
    background: url(../images/xmas-red/send.png) no-repeat top center;
    position: absolute;
    bottom: -125px;
    right: 0;
    text-indent: -9999px;
    border: none;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body .christmas-red .wpfeua-validation-errors,
body .christmas-red .wpfeua-mail-sent-ok,
body .christmas-classic-validation-errors,
body .christmas-classic-mail-sent-ok {
    border: none;
    width: 350px;
    font-size: 22px;
    color: #FC8181;
    margin-left: 25px;
    padding: 0;
}

body .christmas-red .wpfeua-mail-sent-ok,
body .christmas-classic-mail-sent-ok {
    color: #73C94E;
}

body .christmas-red span.wpfeua-not-valid-tip,
body .christmas-classic span.wpfeua-not-valid-tip {
    left: 0;
    top: 0;
    padding: 5px 10px;
    width: 368px;
    font-size: 16px;
    border: none;
    display: block;
    color: #FC8181;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

body .christmas-red span.wpfeua-list-item {
    display: inline-block;
    height: 32px;
}

body .christmas-red input[type="radio"] {
    background: url(../images/xmas-red/radio.png) no-repeat 0 6px;
}

body .christmas-red input[type="radio"].active {
    background-position: 0 -27px;
}

body .christmas-red .wpfeua-radio .wpfeua-list-item-label {
    display: inline-block;
    vertical-align: top;
}

body .christmas-red input[type="radio"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* IE 8 */
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    
    filter: alpha(opacity=0);
    /* Netscape */
    
    -moz-opacity: 0;
    /* Safari 1.x */
    
    -khtml-opacity: 0;
    /* Good browsers */
    
    opacity: 0;
}

body .christmas-red .wpfeua-response-output {
    position: relative;
    margin: 0 auto;
}

body .christmas-red input[type="submit"]:not([disabled]):focus,
body .christmas-red input[type="submit"]:not([disabled]):hover,
body .christmas-red [type="submit"] {
    opacity: 0.8;
}

body .christmas-red div.wpfeua-response-output.wpfeua-validation-errors,
body .christmas-red div.wpfeua-response-output.wpfeua-mail-sent-ok {
    background: none;
    border: none;
    font-size: 17px;
}

body .christmas-red div.wpfeua-response-output.wpfeua-validation-errors {
    color: #FC8181;
}

body .christmas-red div.wpfeua-response-output.wpfeua-mail-sent-ok {
    color: rgb(4, 192, 4);
}

body .christmas-red span.wpfeua-not-valid-tip {
    padding: 5px 10px 5px 0;
}
body .christmas-red .user-form {
    width: auto;
}
/**
 * Xmas
 *
 * 2.3 - Simple
 * ----------------------------------------------------------------------------- 
 */

body .christmas-simple {
    width: 410px;
    padding: 50px 20px 15px 20px;
    margin-bottom: 20px;
    color: #1b0a00;
    position: relative;
    margin: 75px 0 35px;
}

body .christmas-simple-container {
    width: 425px;
    margin: 0 auto;
    border-left: dashed 2px #542c0e;
    border-right: dashed 2px #542c0e;
    background: url(../images/xmas-simple/middle.png) repeat-y center top;
}

body .christmas-simple fieldset {
    width: 325px;
    margin: 15px auto;
}
body .christmas-simple .user-form {
    width: 350px;
}
body .christmas-simple input[type="text"],
body .christmas-simple input[type="email"],
body .christmas-simple input[type="tel"],
body .christmas-simple textarea,
body .christmas-simple input[type="text"]:hover,
body .christmas-simple input[type="email"]:hover,
body .christmas-simple input[type="tel"]:hover,
body .christmas-simple textarea:hover,
body .christmas-simple input[type="text"]:focus,
body .christmas-simple input[type="email"]:focus,
body .christmas-simple input[type="tel"]:focus,
body .christmas-simple textarea:focus {
    width: 94%;
    background: transparent;
    border: dashed 2px #7d5f48;
}

body .christmas-simple textarea {
    height: 110px;
    resize: vertical;
}

body .christmas-simple .header,
body .christmas-simple .footer {
    width: 425px;
    height: 35px;
    margin: 0 auto;
    background: url('../images/xmas-simple/header.png') no-repeat center bottom;
    border: dashed 2px #542c0e;
    border-bottom: none;
    position: absolute;
    left: -2px;
}

body .christmas-simple .header {
    background-position: 1px 1px;
    border-radius: 12px 12px 0 0;
    left: -2px;
    top: -35px;
    width: 421px;
}

body .christmas-simple .footer {
    background: url('../images/xmas-simple/footer.png') no-repeat center top;
    border-bottom: 2px dashed #542c0e;
    border-radius: 0 0 20px 20px;
    border-top: medium none;
    bottom: -40px;
    padding-bottom: 3px;
    width: 421px;
}

body .christmas-simple .ribbon {
    width: 182px;
    height: 202px;
    position: absolute;
    background: url('../images/xmas-simple/ribbon.png') no-repeat;
    right: -118px;
    top: -85px;
}

body .christmas-simple div.wpfeua-response-output {
    width: 360px;
    margin: 0 auto;
    border: none;
    color: #ee0000;
}

body .christmas-simple input[type="submit"],
body .christmas-simple input[type="submit"] {
    background: #e7e3d0;
    color: #555;
    border-top: solid 1px #fff;
    font-size: 14px;
    padding: 0px 40px;
    height: 40px;
    -webkit-border-radius: 15px 18px 7px 9px;
    -moz-border-radius: 15px 18px 7px 9px;
    border-radius: 15px 18px 7px 9px;
    -webkit-box-shadow: -3px 3px 9px 1px #999;
    box-shadow: -3px 3px 9px 1px #999;
}

body .christmas-simple input[type='submit']:hover {
    border-top: solid 1px #fff;
    background: #e7e3d0;
    color: #000;
}
/**
 *	Fix Error tooltips position
 */

body .christmas-simple span.wpfeua-not-valid-tip {
    top: -4px;
    left: 2px;
    height: 30px;
    line-height: 30px;
    padding-left: 9px;
    width: 335px;
    color: #ee0000;
    background: #fff;
    border: none;
}
/*Christmas clasic - unique*/

body .christmas-classic .wpfeua-not-valid-tip {
    width: 100%;
    background: transparent;
}
/***
 * SIMPLE
 *
 * 3.1 - Twenty fiffteen like
 * ----------------------------------------------------------------------------- 
 */

body .twenty-fifteen-pattern {
    padding-top: 1.6842em;
}

body .twenty-fifteen-pattern fieldset {
    font-size: 1.6rem;
    margin-bottom: 1.6842em;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
}

body .twenty-fifteen-pattern input[type="text"],
body .twenty-fifteen-pattern input[type="email"],
body .twenty-fifteen-pattern input[type="url"],
body .twenty-fifteen-pattern input[type="submit"],
body .twenty-fifteen-pattern textarea {
    width: 100%;
    padding: 0.5278em;
    line-height: normal;
    font-size: 1.9rem;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.7);
    background: #f7f7f7;
    border-radius: 0;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    font-family: "Noto Serif", serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .twenty-fifteen-pattern input:focus,
body .twenty-fifteen-pattern textarea:focus {
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: #333;
    background: #fff;
}

body .twenty-fifteen-pattern button,
body .twenty-fifteen-pattern input[type="button"],
body .twenty-fifteen-pattern input[type="reset"],
body .twenty-fifteen-pattern input[type="submit"] {
    font-size: 1.6rem;
    padding: 0.8125em 1.625em;
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

body .twenty-fifteen-pattern button:hover,
body .twenty-fifteen-pattern input[type="button"]:hover,
body .twenty-fifteen-pattern input[type="reset"]:hover,
body .twenty-fifteen-pattern input[type="submit"]:hover {
    background: rgba(51, 51, 51, 0.7);
    outline: 0 none;
}
html body .user-form.feup_f_col-1 fieldset {
    width: 100% !important;
    vertical-align: top;
    display: inline-block;
    border: 0;
}
html body .user-form.feup_f_col-2 fieldset {
    width: 47% !important;
    margin-right:1.5%;
    margin-left:1.5%;
    vertical-align: top;
    display: inline-block;

}
html body .user-form.feup_f_col-3 fieldset {
    width: 29% !important;
    vertical-align: top;
    display: inline-block;
    margin:1%;
}
html body .user-form.feup_f_col-4 fieldset {
    width: 20% !important;
    margin-right:1.5%;
    margin-left:1.5%;
    vertical-align: top;
    display: inline-block;
}
html body .user-form.feup_f_col-5 fieldset {
    width: 16% !important;
    margin-right:1.5%;
    margin-left:1.5%;
    vertical-align: top;
    display: inline-block;
}
html body .user-form fieldset.full_width_r {
    width: 100% !important;
    max-width: 100% !important;
    display: block;
}
html body .user-form fieldset.feup_left .user-label {
    width: 40% !important;
    vertical-align: top;
    display: inline-block;
}
html body .user-form fieldset.feup_left .user-fields {
    width: 40% !important;
    vertical-align: top;
    display: inline-block;
}
html body .user-form fieldset.feup_right .user-label {
    width: 40% !important;
    vertical-align: top;
    display: inline-block;
}
html body .user-form fieldset.feup_right .user-fields {
    width: 40% !important;
    vertical-align: top;
    display: inline-block;
    float: left;
}
html body .user-form fieldset.feup_inside .user-label {
    display: none;
}
.user-form-login-form fieldset {
    width: 350px;
}
body .feua-style .user-submit {
    position: relative;
}
body .feua-style .user-submit:after,
body .feua-style .user-submit:before {
    display: none;
}
@media only screen and (max-width: 768px) {
 html body .user-form fieldset {
    width: 100% !important;
    display: block;
}  
}